In [1]:
import pandas as pd

from scripts.financial_analyzer import  FinancialAnalyzer

In [2]:
file_path = "../../data/raw/yfinance_data/META_historical_data.csv"
df = pd.read_csv(file_path)

df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2012-12-12,28.000000,28.139999,27.370001,27.580000,27.523441,46704200,0.0,0.0
1,2012-12-13,27.590000,28.750000,27.430000,28.240000,28.182087,81051600,0.0,0.0
2,2012-12-14,28.180000,28.330000,26.760000,26.809999,26.755020,91631600,0.0,0.0
3,2012-12-17,26.770000,27.000000,26.320000,26.750000,26.695143,57742500,0.0,0.0
4,2012-12-18,26.959999,27.910000,26.900000,27.709999,27.653173,60512900,0.0,0.0

In [3]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2.926000e+03,2926.000000,2926.0
mean,179.557215,181.875331,177.317761,179.649453,179.305921,2.872083e+07,0.000342,0.0
std,108.864895,110.256219,107.511134,108.906971,108.755055,2.269811e+07,0.013070,0.0
min,22.990000,23.090000,22.670000,22.900000,22.853037,5.467500e+06,0.000000,0.0
25%,97.767502,98.772499,95.889997,97.382498,97.182795,1.571308e+07,0.000000,0.0
50%,166.870003,168.850006,164.210007,166.855003,166.512825,2.176100e+07,0.000000,0.0
75%,231.450005,234.934998,228.687504,232.424999,231.948360,3.294468e+07,0.000000,0.0
max,542.349976,542.809998,528.359985,539.909973,539.909973,3.654579e+08,0.500000,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2926 entries, 0 to 2925
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2926 non-null   object
 1   Open          2926 non-null   float64
 2   High          2926 non-null   float64
 3   Low           2926 non-null   float64
 4   Close         2926 non-null   float64
 5   Adj Close     2926 non-null   float64
 6   Volume        2926 non-null   int64
 7   Dividends     2926 non-null   float64
 8   Stock Splits  2926 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 205.9+ KB

In [5]:
df["Date"] = pd.to_datetime(df['Date'])
df.index = df["Date"]

df.index

DatetimeIndex(['2012-12-12', '2012-12-13', '2012-12-14', '2012-12-17',
               '2012-12-18', '2012-12-19', '2012-12-20', '2012-12-21',
               '2012-12-24', '2012-12-26',
               ...
               '2024-07-17', '2024-07-18', '2024-07-19', '2024-07-22',
               '2024-07-23', '2024-07-24', '2024-07-25', '2024-07-26',
               '2024-07-29', '2024-07-30'],
              dtype='datetime64[ns]', name='Date', length=2926, freq=None)

In [6]:
latest_date = df.index.min()
earliest_date = df.index.max()

print(f"The earliest, and latest date are {earliest_date} and {latest_date} respectively.")

The earliest, and latest date are 2024-07-30 00:00:00 and 2012-12-12 00:00:00 respectively.

In [7]:
analyzer = FinancialAnalyzer(df, "META")

In [8]:
analyzer.calculate_technical_indicators()
df.iloc[100:]

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,SMA,EMA,RSI,MACD,MACD_Signal
Date,,,,,,,,,,,,,,
2013-05-08,2013-05-08,26.879999,27.299999,26.650000,27.120001,27.064386,34654900,0.0,0.0,27.810000,27.800845,50.680178,0.220582,0.145689
2013-05-09,2013-05-09,27.080000,27.549999,26.850000,27.040001,26.984549,33457200,0.0,0.0,27.798000,27.785779,50.073251,0.187288,0.154009
2013-05-10,2013-05-10,27.139999,27.299999,26.570000,26.680000,26.625288,30847100,0.0,0.0,27.796700,27.763883,47.326609,0.130351,0.149277
2013-05-13,2013-05-13,26.600000,27.330000,26.530001,26.820000,26.764999,29068800,0.0,0.0,27.797400,27.745192,48.509463,0.095424,0.138507
2013-05-14,2013-05-14,26.889999,27.280001,26.820000,27.070000,27.014486,24930300,0.0,0.0,27.791000,27.731822,50.641057,0.086916,0.128189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-24,2024-07-24,472.309998,476.299988,460.579987,461.269989,461.269989,17649700,0.0,0.0,490.857201,477.020903,36.964279,-6.550694,-1.274374
2024-07-25,2024-07-25,463.260010,463.549988,442.649994,453.410004,453.410004,18240500,0.0,0.0,490.368301,476.553361,34.814669,-8.810746,-2.781648
2024-07-26,2024-07-26,464.200012,469.769989,459.420013,465.700012,465.700012,14222400,0.0,0.0,490.043401,476.338443,40.628601,-9.500635,-4.125446
2024-07-29,2024-07-29,469.880005,473.959991,465.019989,465.709991,465.709991,11339600,0.0,0.0,489.798301,476.127979,40.633231,-9.932081,-5.286773
2024-07-30,2024-07-30,467.000000,472.730011,456.700012,463.190002,463.190002,11390400,0.0,0.0,489.469301,475.871781,39.789373,-10.357947,-6.301008

In [ ]:
analyzer.plot_sma()

In [ ]:
analyzer.plot_ema()

In [ ]:
analyzer.plot_rsi()

In [ ]:
analyzer.plot_macd()

In [ ]:
analyzer.plot_sma_vs_ema()